/* reset */

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
}
/* end reset*/

body {
	text-align: center;
	min-width: 800px;
	font-size: 16pt;
	font-family: 'Quicksand', sans-serif;
    font-weight:300;
}

a {
	text-decoration:none;
	color: #999999;
}

a:hover {
	text-decoration:none;
	color: #1A1A1A;
}

img {
border: none;
}

#heart {
	margin-left:10px;
}

#links{
	min-width: 760px;
	margin:0 auto;
	margin-bottom: 40px;
}

p
{ 
word-spacing:87px;
}

h1
{
    margin-top:200px;
    margin-bottom:30px;
	font-size: 36pt;
	font-family: 'Quicksand', sans-serif;
    font-weight:300; 
	text-align: center;
	color: #666666;
}

#embedagram-photos {
	text-align: center;
	opacity: 0.5;
}

#embedagram-photos .gram {
	display: inline-block;
}

#embedagram-photos .gram a img {
	vertical-align: middle;
	margin-right: 5px;
}