html,
body {
  font-family: 'Bariol', sans-serif;
}

h1 {
  letter-spacing: 0.5rem;
}

footer {
  font-size: 0.8rem;
}

@font-face {
  font-family: 'Bariol-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/bariol_regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Bariol-Light';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/light-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Bariol-Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/bariol_regular_italic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Bariol-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/bariol_bold-webfont.woff) format('woff');
}